* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    background-color: #009688;
    /* background: linear-gradient(180deg,#009688, 40%, #d4dbda); */
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1000px;
    height: 550px;
    background-color: #fff;
}

/* ----------------------------------- HEADER */
header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
    background-color: #eaeaea;
}

/* Header di sinistra */
header > div:first-child {
    width: 350px;
    float: left;
}

/* Header di destra */
header > div:last-child {
    width: 650px;
    border-left: 2px solid #ccc;
}

.fas,
.far {
    font-size: 18px;
    padding: 5px;
    color: #cccccc;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}

.profile > img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.profile:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.mate-login {
    padding-top: 2px;
    color: #828a8c;
}

/* ---------------------------------- SIDEBAR */
.sidebar {
    width: 350px;
    height: 500px;
    float: left;
}

/* Notifiche */
.notifications {
    width: 350px;
    height: 50px;
    background-color: #8edafb;
}

.icon-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #fff;
    margin: 0 10px;
}

.icon-notifications > i {
    color: lightskyblue;
    font-size: 15px;
}

.text-notifications div:first-child {
    font-weight: 600;
    padding-bottom: 2px;
}

.text-notifications div:last-child {
    color: grey;
    font-size: 10px;
    text-decoration: underline;
}

.notifications,
.search-bar {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

/* Barra di ricerca */
.search-bar {
    width: 340px;
    height: 30px;
    margin: 5px;
    border: 1px solid #ccc;
}

.search-bar::before {
    content: '\f002';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    margin-right: 5px;
    color: #ccc;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    border: none;
}

.sidebar,
.search-bar,
.contacts-list {
    background-color: #fff;  
}

/* Lista dei contatti */
.contacts-list {
    width: 340px;
    height: 410px;
    border-right: 1px solid #ccc;
    overflow-y: scroll;
}

.contacts-list > div {
    font-size: 13px; 
    list-style: none;
    cursor: pointer;
}

.contacts-list> div:nth-child(odd) {  /*dispari*/
    background-color: #f4f5f5;
}

.contact-box {
    display: flex;
    align-items: center;
    padding: 5px;
}

.contacts-list img {
    width: 50px;
    height: 50px;  
    margin-right: 20px;
    border-radius: 50%;
}

/* ---------------------------------- MAIN */
.container-chat {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 650px;
    height: calc(500px - 50px);
    background-image: url('../img/mine.jpg');
    padding: 40px 60px;
}

.chat > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 225px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.message-text {
    padding: 15px;
}

.message-date {
    display: flex;
    flex-direction: row-reverse;
    font-size: 8px;
    color: #333;
    
}

/* Chat a destra */
.sent {
    background-color: #d5f9ba;
    float: right;
}

/* Chat a sinistra */
.received {
    background-color: #fff;
}

/* ---------------------------------- FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 50px;
    background-color: rgb(236, 234, 234);
}

footer > div:nth-child(2) { 
    /* width: calc(100% - 100px); */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.ft-input-message > input {
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.ft-input-message::before {
    content: '\f118';
}

.ft-input-message::after {
    content: '\f130';
}

.ft-input-message::before,
.ft-input-message::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #6a7376;
    padding: 20px 25px;
}
