* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    margin: 20px auto;
    width: 1000px;
    height: 550px;
    background-color: #fff;
}

/* ----------------------------------- HEADER */
header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
    background-color: #fff;
}

/* Header di sinistra */
header > div:first-child {
    width: 350px;
    float: left;
}

/* Header di destra */
header > div:last-child {
    width: 650px;
    border-left: 2px solid #ccc;
}

.fas,
.far {
    font-size: 18px;
    padding: 5px;
    color: #ccc;
}

.profile {
    display: flex;
    align-items: center;
}

.profile > img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.profile:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.mate-login {
    padding-top: 2px;
    color: #ccc;
}

/* ---------------------------------- SIDEBAR */

.sidebar {
    width: 350px;
    height: 500px;
    float: left;
}

/* Notifiche */
.notifications {
    width: 350px;
    height: 50px;
    background-color: lightskyblue;
}

.notifications,
.search-bar {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

/* Barra di ricerca */
.search-bar {
    width: 340px;
    height: 30px;
    margin: 5px;
    border: 1px solid #ccc;
}

.search-bar::before {
    content: '\f002';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    margin-right: 5px;
    color: #ccc;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    border: none;
}

.sidebar,
.search-bar,
.contacts-list {
    background-color: #fff;  
}

/* Lista dei contatti */
.contacts-list {
    width: 340px;
    height: 410px;
    border-right: 1px solid #ccc;
    overflow-y: scroll;
}

li {
    display: flex;
    padding: 10px;   
    font-size: 13px; 
    list-style: none;
}

ul > li:nth-child(odd) { /*dispari*/
    background-color: #ccc;
}

li > img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

/* ---------------------------------- MAIN */
.container-chat {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 650px;
    height: calc(500px - 50px);
    background-image: url('../img/mine.jpg');
    padding: 40px 60px;
}

.container-answers,
.container-my-messages {
    display: flex;
    flex-direction: column;
}

.answer, 
.my-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.message-text {
    display: flex;
    align-items: start;
}

.message-date{
    display: flex;
    flex-direction: row-reverse;
    font-size: 8px;
    color: #333;
    padding: 0 10px;
}

/* Chat a sinistra */
.container-answers {
    justify-content: start;
    align-items: start;
}
.answer {
    background-color: #fff;
}

/* Chat a destra */
.container-my-messages {
    justify-content: end;
    align-items: end;
}

.my-message {
    background-color: lightgreen;
}

/* ---------------------------------- FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 50px;
    background-color: rgb(236, 234, 234);
}

footer > div:nth-child(2) { 
    /* width: calc(100% - 100px); */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.ft-input-message > input {
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.ft-input-message::before {
    content: '\f118';
}

.ft-input-message::after {
    content: '\f130';
}

.ft-input-message::before,
.ft-input-message::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #ccc;
    padding: 20px 25px;
}
