<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <link rel="stylesheet" href="./css/style.css">
    <!-- FontAwesome --> <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Day.js CDN --> <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script> 
    <!-- Vue.js CDN --> <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
</head>
<body>
    <div id="app">
    
        <div class="container">
            <!-- ---------------------------------- HEADER -->
            <header>
                <div class="hd-left">
                    <div class="profile">
                        <img :src="userProfileInfos.avatar">
                        
                        <div class="info">
                            <div class="user-name">{{userProfileInfos.name}}</div>
                        </div>
                    </div>

                    <div class="icons">
                        <i class="fas fa-circle-notch"></i> 
                        <!-- unicode: \f1ce -->
                        <i class="fas fa-comment-alt"></i>
                        <!-- unicode: \f27a -->
                        <i class="fas fa-ellipsis-v"></i>
                        <!-- unicode: \f142 -->
                    </div>
                </div>

                <div class="hd-right">
                    <div class="profile">
                        <img :src="contacts[currentIndex].avatar">

                        <div class="infos">
                            <div class="mate-name">{{contacts[currentIndex].name}}</div>
                            <div class="mate-login">Ultimo accesso oggi alle</div>
                        </div>
                    </div>

                    <span class="icons">
                        <i class="fas fa-search"></i>
                        <!-- unicode: \f002 -->
                        <i class="fas fa-paperclip"></i>
                        <!-- unicode: \f0c6 -->
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                </div>
            </header>

            <!-- ---------------------------------- SIDEBAR -->
            <div class="sidebar">
                <div class="notifications">
                    <div class="icon-notifications">
                        <i class="fas fa-bell-slash"></i>
                        <!-- unicode: \f1f6 -->
                    </div>

                    <div class="text-notifications">
                        <div class="new-notifications-text">
                            Ricevi notifiche di nuovi messaggi
                        </div>

                        <div class="active-notifications">
                            Attiva notifiche desktop
                        </div>
                    </div>
                </div>

                <div class="search-bar">
                    <input type="text" v-model="researchInput" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div class="contacts-list">
                    <div v-for="(item, i) in contacts" @click="setCurrentContact(i)">
                        <!-- avrei scritto "(item, i) in filteredContacts" se, per filtrare, avessi utilizzato la funzione filteredContacts in computed al posto del v-if (che segue)-->
                        <!-- per evento click: soluzione utilizzata oppure @click="currentIndex = i", senza scrivere un metodo in vue.js -->
                        <div class="contact-box" v-if="item.name.toLowerCase().startsWith(researchInput)">
                            <div class="contact-image">
                                <img :src="item.avatar"/>
                            </div>
                            <!-- <img :src="item.avatar"/> con questa scrittura bisogna cambiare nel data l'avatar inserirendo ad es.'./img/avatar_1.jpg' per ogni contatto, mentre, creando un metodo "getAvatarPic(item)" non è necessario cambiare il valore di ogni avatar nel data.
                            Cosigliato usare <img :src="getAvatarPic(item)"/> creando un metodo -->
                            <div class="contact-name"><div>{{item.name}}</div></div>
    
                            <!-- TODO: STAMPARE ULTIMO MESSAGGIO RICEVUTO/INVIATO NELLA LISTA DEI CONTATTI
                            <div v-for="(item, i) in contacts[i].messages">
                                {{item.text}}
                                 {{item.date}}
                            </div> -->
                        </div>
                    </div> 
                </div>
            </div>

            <!-- ---------------------------------- MAIN -->
            <main>
                <div class="container-chat">
                    <div class="chat" v-for="(item, i) in contacts[currentIndex].messages">
                        <div @click="deleteMessage(i)" class="message-text" v-bind:class="item.status"> 
                            <!--deleteMessaget(i): la (i) è importante per specificare quale item si intende cancellare dalla lista. 
                            Senza (i) cancellerebbe sempre il primo item della lista anche se si clicca per cancellarne un altro' -->
                            {{item.text}} 
                            <div class="message-date"> {{item.date}} </div>
                        </div>
                    </div>

                </div>
            </main>
            
            <!-- ---------------------------------- FOOTER -->
            <footer>
                <div class="ft-emojy"></div>
                
                <div class="ft-input-message">
                    <input placeholder="Scrivi un messaggio" v-model="temporarySentMessage" @keyup.enter="sentMessageTo(contacts[currentIndex])">
                    <!-- (** vedi su script line110) @keyup.enter="sentMessageTo" -->
                </div>

                <div class="ft-microphone"></div>
            </footer>    
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>